.intropage {
  display: flex;
  background-image: url("../../assets/fundohome.png");
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.logo {
  width: 80%;
  max-width: 300px;
}

@media (max-width: 600px) {
  .logo {
    width: 60%;
    max-width: 200px;
  }
}
